/* CSS Document */

body {
	background: #C8D0C1;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 12px; color: 4E564D;
	margin-top: 0px;
}


a.nav:link {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 10px; text-decoration: none}

a.nav:visited {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: none} 

a.nav:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: underline} 

a.nav:hover {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 10px; text-decoration: underline} 

a:link {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 12px; text-decoration: none}

a:visited {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: none} 

a:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: underline} 

a:hover {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: underline}


#container {
	width: 714px;
	position: absolute;
	left: 100px;
	padding: 0px;
	float: left;
}

#title {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 202px;
	height: 53px;
	background: url(title.jpg) no-repeat;
	float: left;
}

#jean {

	position: absolute;
	top: 200px;
	left: 30px;
	width: 337px;
	height: 481px;
	background: url(jean.jpg) no-repeat;
	float: left;

}

#bg {

	position: absolute;
	top: 100px;
	left: 250px;
	width: 400px;
	height: 295px;
	background: url(bg2.gif) no-repeat;
	float: left;

}

#nav {
	position: absolute;
	top: 63px;
	left: 30px;
	float: left;
}

#content {
	position: absolute;
	top: 167px;
	left: 242px;
	width: 350px;
	float: left;
	height: 570px;
}

#content3{
	position: absolute;
	top: 100px;
	left: 390px;
	width: 450px;
	float: left;
	height: 800px;
}





.menuLink{
	color: 6A5674;  
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal; 
	font-size: 10px; text-decoration: none}
	
}

a.menuLink:hover{
        text-decoration:underline;
}
