/* CSS Document */

body {
	background: #C8D0C1;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: 4E564D;
	margin-top: 90px;
	H3 {color:#4e5699; font-size:12;  }
}


table   { border-collapse: collapse 
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 12px; color: 4E564D;
	margin-top: 0px;
	H3 {color:#4e5699; font-size:12;  }
	}
tr#row1 { border: 3px solid black }
tr#row2 { border: 1px solid black }
tr#row3 { border: 1px solid black }

caption { caption-side: bottom}

a.nav:link {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 11px; text-decoration: none}

a.nav:visited {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 11px; text-decoration: none} 

a.nav:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 11px; text-decoration: underline} 

a.nav:hover {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 11px; text-decoration: underline} 

a:link {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif; font-weight: normal; font-size: 12px; text-decoration: underline}

a:visited {color: 6A5674;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: underline} 

a:active {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: underline} 

a:hover {color: #ffffff;  font-family: verdana, arial, helvetica, sans-serif;  font-size: 12px; text-decoration: underline} 


.tbaBox {
  background-color: #0066ff;
  border-color: #909090;
  border-style: solid;
  border-width: 1px;
  padding: .9em;
}

.noteBox 
{
  box-sizing: border-box;
 font-size:12px;
  background-color: #f0f0f0;
  float:center;
  border-color: #909090;
  border-style: solid;
  border-width: 1px;
  padding: .25cm;
  font-size: 14px;
  font-weight: bold;
}
.presentBox {
  background-color: #F0F8FF;
  border-color: #909090;
  border-style: solid;
  border-width: 1px;
  padding: .5em;
}
.sideBox {
  background-color: #f0e0d0;
  border-color: #d0a070;
  border-style: solid;
  border-width: 1px;
  float: right;
  padding: .5em;
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 0px;
  width: 12em;
}
 

#container {
	width: 714px;
    	top: 100px;
	position: absolute;
	left: 100px;
	padding: 0px;
	float: left;
}

#title {
	position: absolute;
	top: -62px;
	left: 62px;
	width: 250px;
	height: 53px;
	background: url(images/title.jpg) no-repeat;
	float: left;
}

#jean {

	position: absolute;
	top: 100px;
	left: 10px;
	width: 337px;
	height: 481px;
	background: url(images/jean.gif) no-repeat;
	float: left;

}


#book {

	position: absolute;
	top: 100px;
	left: 10px;
	background: url(images/BookCover.gif) no-repeat;
	float: left;

}


#bg {

	position: absolute;
	top: 100px;
	left: 250px;
	width: 400px;
	height: 295px;
	background: url(bg2.gif) no-repeat;
	float: left;

}

#nav {
	position: absolute;
	top: 30px;
	left: 30px;
	float: left;
}

#content1 {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 700px;
	float: left;
}

#content {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 630px;
	float: left;
}
